
canvas{
  width: 800px;
  position: absolute;
  z-index: 99;
}

.bet_display{
  position:absolute;
  z-index: -1;
  border-style: solid;
  border-width: 5px;
}

.game_display{
  top: 150px;
  position:absolute;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  z-index: -1;
  font-family: 'TheBlacklist';

}

.button_display{
  top:700px;
  position:absolute;
  border-style: solid;
  border-width: 5px;
  z-index: -1;
  font-family: 'Chela';
}


#account{
  /* visibility: hidden; */
  padding-top: 25px;
  color: white;
  text-align: center;
  font-family: 'Chela';
  height:100px;
  font-size: 32px;
  width: 800px;
  /* position:absolute; */
  /* border-style: solid; */
  /* border-width: 5px; */
  /* background-color: blue; */
  z-index: 1;
}

.header{
  display:inline-block;
  position:relative;
  width: 25%;
  font-family: 'TheBlacklist';
}

.betInfo{
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
}
